.box {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  .main {
    background: #fff; 
    padding: 20px;
    .main_toolbar {
      display: flex; 
      justify-content: space-between;
      .main_toolbar_left {
        font-weight: bold; 
        font-size: 16px; 
        color: black;
      }
    }
  }
}
