/* 登录 */
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  &-left {
    width: 576px;
    height: 100vh;
    background: linear-gradient(163.85deg, #1d2129 0%, #00308f 100%);
  }
  &-right {
    flex: 1;
    @include flex-base();
  }
  &-footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    @include flex-base();
    gap: 8px;
  }
  &-option-btns {
    @include flex-base();
    gap: 8px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* 登录轮播图 */
.login-banner {
  &-logo {
    width: 100%;
    @include flex-base($justify: "");
    padding: 24px;
    font-size: 24px;
    color: #fff;
    &-img {
      width: 40px;
      height: 40px;
    }
  }
  &-carousel {
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
    font-size: 14px;

    &-img {
      width: 100%;
      height: 100%;
    }
    &-title {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 20px;
      color: #fff;
    }
  }
}

/* 登录表单 */
.form-box {
  width: 420px;
  min-width: 420px;
  &-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .login-form {
    &-button {
      width: 100%;
    }
    &-captcha {
      @include flex-base();
      gap: 8px;
      &-img {
        width: 40%;
        height: 44px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
}
