.box {
  padding: 12px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  .main {
    padding: 12px;
    .main_toolbar {
      display: flex;
      justify-content: space-between;
      .main_toolbar_left {
        font-weight: bold;
      }
    }
  }
}
