.footer {
  height: 32px;
  gap: 4px;
}

.header {
  background: #120338;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 22px;
}

.header-title {
  height: 32px;
  width: 32px;
}

.header-title-logo {
  height: 32px;
  width: 32px;
}

.gap8 {
  gap: 8px;
}

.content {
  @include flex-base($direction: column, $justify: "", $align: "");
}

// 卡片样式操作栏居中
.ant-card-actions {
  .anticon {
    justify-content: center;
  }
}
