.footer {
  height: 32px;
  gap: 4px;
}

.header {
  // background: #120338;
  background: none;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 22px;
}

.gap8 {
  gap: 8px;
}

.content {
  @include flex-base($direction: column, $justify: "", $align: "");
}

// 卡片样式操作栏居中
.ant-card-actions {
  .anticon {
    justify-content: center;
  }
}
.menu-header {
  display: flex;
  padding: 0 22px;
  justify-items: center;
  align-items: center;
  height: 60px;
}
.header-title {
  width: 100%;
  height: 100%;
  &-logo {
    height: 32px;
    width: 32px;
  }
  &-info {
    white-space: nowrap;
    flex: 1;
  }
}
