.manage {
  height: 100%;
  @include flex-base($direction: column, $justify: "", $align: "");
  //   background-color: aliceblue;
  gap: 20px;
  padding: 12px;
  &-user {
    padding: 20px;
    @include flex-base($justify: "");
    gap: 60px;
    &-avatar {
      width: 120px;
      height: 120px;
    }
    &-descriptions {
      flex: 1;
    }
  }
  &-content {
    flex: 1;

    &-detail {
      padding-top: 12px;
    }
  }
}
